#!/usr/bin/zsh

alias crap='sudo $(fc -ln -1)'
alias nvime="nvim ~/.config/nvim/init.vim"
alias o="open"
alias gc="git commit -v -s"
alias gst="git status"
alias ga="git add"
alias gd="git diff --minimal"
alias gl="git log --oneline --decorate --graph"
alias ls="ls -G"
alias tf="terraform"
alias tf12="terraform"
alias ll="ls -lat"
#alias fz="vim -o `fzf`"
alias atom="atom-nightly"
alias hz="history | fzf"
alias k="kubectl"
alias s="subl"
complete -F __start_kubectl k
alias grep="rg"
alias vim="nvim"
